<?xml version="1.0"?>
<configuration>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mySerBeh">
          <serviceMetadata httpGetEnabled="true"/>
          <!--httpGetUrl="mex"-->
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpendBehavior">
          <webHttp></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!-- 看到services节，就表明这是在定义服务相关的内容 -->
    <services>
      <!-- 定义一个服务，name是契约实现类的全名 -->
      <service behaviorConfiguration="mySerBeh" name="WCFExample.WCF.UserService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:21467/"/>
          </baseAddresses>
        </host>
        <!-- 定义一下终节点，address一般为空，如果不为空，最终服务地址就是在baseAddress的基础上加上这个address，binding指定为basicHttpBinding，
        这是最基础的基于http的绑定方式，contract标明这是为哪个契约服务 -->
        <endpoint address="wcfs" behaviorConfiguration="webHttpendBehavior"
          binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFExample.WCF.IService"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
