<?xml version="1.0"?>
<configuration>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
  <appSettings>
    <!--http服务器参数配置-->
    <add key="IP" value="0.0.0.0"/>
    <add key="port" value="8000"/>
    <!--数据库配置-->
    <add key="dbPath" value="..\\Logs\\"/>
    <add key="dbName" value="log.db"/>
    <!--视频上传参数配置-->
    <add key="upload_username" value="admin"/>
    <add key="LogFilePath" value="D://gitpath//log"/>
    <add key="upload_password" value="admin"/>
    <add key="SaveRSSDK" value="0"/>
    <add key="upload_Url" value="http://192.168.0.153:8081/file/upload"/>
  </appSettings>
</configuration>
